<!-- {% load static %}
 The Modal -->
<!-- <div class="modal" id="mypicture">
    <div class="modal-dialog"> -->
<!-- <div class=" border-0"> -->


<!-- Modal Header -->
<!-- <div class="modal-header bg-primary Boxshadow" >
          <button type="button" class="close" data-dismiss="modal" style="color:white">&times;</button>
          <p class="modal-title text-center font-weight-bolder" style="font-size:15px;color:white">اضافة معلومات المؤسسة</p>
        </div> -->

<!-- Modal body -->
<!-- form start -->
<!-- <form role="form" action="/add_picture_profile" method="post" enctype="multipart/form-data" >
        <div class="modal-body">
          {% csrf_token %}
          <div class="form-group">
            <label class="control-label float-right">صورةالاعلان</label>
            <input type="file" name="profile" class="col-sm-12 Boxshadow pt-3" style="border: 1px solid #44A5E4;height:50px;border-radius:8px;">
          </div>  -->
<!-- Modal footer -->
<!-- <div class="modal-footer center">
            <button type="button" class="btn btn-danger btn-block" data-dismiss="modal">اغلاق</button>
            <button type="submit" name="submit" style="border-radius:34px;background-color:#00C7FE;border:none;width:204px;height:41px;margin-top:200px;margin-right:200px;color:white;font-size:14px" class=" text-center font-weight-bolder">
              <i class="fas fa-check"></i> حفظ
            </button> -->
<!-- <button type="submit" name="submit" class="btn btn-primary btn-block">تأكيد</button> -->
<!-- </div> -->
<!-- </div> -->
<!-- </form> -->

<!-- </div>
    </div>
  </div> -->