{% extends 'hod_template/base_template.html' %} {% load static %}

<!-- /* ======== Start Details ======== */ -->
{% block main_content %}
<!-- /* ======== Start Why Volunteer ======== */ -->
<div class="row Boxshadow Borders1 row pt-5 pb-5 background2 border-0" id="container1">
    <div class="col-sm-12 col-lg-3 mt-5 mb-5">
        <img class="img-responsive mt-5 image-width1" src="{% static 'iraq/images/whatV.png' %}" alt="app">
    </div>
    <div class="col-sm-12 col-lg-9">
        <p class="Color font-size1"><span class="background3 text-white badge rounded-circle ml-3 pr-2 pl-2 pt-1 pb-2 Boxshadow">1.</span>توسيع دائرة معارفك والتعرف بأصدقاء جدد</p>
        <p class=" Color1" style="line-height: 30px"> متى كانت آخر مرة قمت فيها بأسعاد شخص ما و رسم ابتسامة على وجهه؟ الم يكن هذا رائع! نحن نؤمن بأن العمل التطوعي هو افضل طريقة لتوفير الرضا الذاتي عن طريق ترك أثر في حياة الآخرين ان تغيير حياة الآخرين حتى لو بقدر بسيط يعطي شعور بالأهمية لشخصك و يعطيك
            سبب للحياة </p>
        <p p class="Color font-size1"><span class="background3 text-white badge rounded-circle ml-3 pr-2 pl-2 pt-1 pb-2 Boxshadow">2.</span> الرضى عن النفس</p>
        <p class="Color1" style="line-height: 30px">يعد التطوع خياراً رائعاً عندما يتعلق الأمر بتزويد نفسك بفرصة جديدة في مجالات مختلفة من الحياة التي تمنحك القدرة على مقابلة اشخاص جدد و توسيع جهات الاتصال الخاصة بك و مساعدتك في الخروج من منطقة راحتك. مما و يزيد من مهاراتك الاجتماعية يجعلك اكثر
            ثقة و قدرتك على التواصل الفعال مع محيطك.
        </p>
        <p class="Color font-size1"><span class="background3 text-white badge rounded-circle ml-3 pr-2 pl-2 pt-1 pb-2 Boxshadow">3.</span> تقدير قيمة الحياة</p>
        <p class="Color1" style="line-height: 30px">التطوع يقدم للإنسانية سبباً للاستمرار ويعطيك سبب للعيش من أجله، يمنحك التطوع فرصة رؤية حياة الآخرين وكل المتاعب في مصائبهم التي يواجهونها ليعيشوا يوما اخر عندما ترى كل ذلك تصبح شاكراً للحياة التي تملكها و تبدأ برؤية مشاكلك ليست بالاهمية التي كنت
            تظنها و بالتالي تصبح مقدر للحياة التي أعطيت لك
        </p>
        <p class="Color font-size1"><span class="background3 text-white badge rounded-circle ml-3 pr-2 pl-2 pt-1 pb-2 Boxshadow">4.</span> يوسع افاقك</p>
        <p class="Color1" style="line-height: 30px">سواء كنت طالباً أو خريجاً جديداً أو حتى موظفاً وتبحث عن تغيير أو شيء ما لمساعدتك في بناء مهنة في مجال عمل جديد، التطوع هو مفتاح كل هذا فالتطوع يمكنه فتح الأبواب لك ويوفر لك فرصة او يوسع أفاقك للوصول إلى أهدافك وبناء المسار الوظيفي الذي تسعى إليه.
            يمكن أن يمنحك التطوع خبرة في مقابلة أشخاص متخصصين في مجال عملك ويمنحك التطوع الفرصة لممارسة المهارات الهامة المستخدمة في مكان العمل مثل العمل الجماعي، والاتصالات، وحل المشكلات، وتخطيط المشاريع وإدارة الوقت
        </p>
        <p class="Color font-size1"><span class="background3 text-white badge rounded-circle ml-3 pr-2 pl-2 pt-1 pb-2 Boxshadow">5.</span> شخص افضل من الناحية العقلية و البدنية </p>
        <p class="Color1" style="line-height: 30px"> يوفر التطوع العديد من الفوائد في مجال الصحة من حيث الصحة العقلية والبدنية العقلية يزيد التطوع من الثقة بالنفس و يرفع من احترام الذات و الرضى عن النفس دورك كمتطوع يمكن ان يعطيك شعورا بالفخر والانتماء والهوية أيضا يعد الحد من مخاطر الاكتئاب ميزة
            أخرى مهمة ايضا للتطوع حيث أنه يبقيك على اتصال دائم مع الآخرين ويساعدك على تطوير نظام دعم قوي ومن حيث الصحة البدنية يمكن أن يساعدك التطوع على البقاء و يساهم في الحفاظ بصحة جيدة تبعاً لكثرة التنقل النشاطات المختلفة مما يؤثر على صحتك بشكل عام
        </p>
    </div>
</div>
<!-- /* ======== End Why Volunteer ======== */ -->


<div id="container1" class="row ">
    <!-- /* ======== Start Who Volunteer ======== */ -->
    <div class="col-sm-12 col-lg-6 pt-5 pb-5 Boxshadow mr-2 Borders1 border-0 background2">
        <div class="row">
            <div class="col-sm-12 col-lg-4">
                <img class="mt-5 mb-5 Boxshadow image-width1" src="{% static 'iraq/images/child.png' %}" alt="app">
            </div>
            <div class="col-sm-12 col-lg-8 text-center">
                <p class="Color font-weight-bolder mt-5"> كيف يساهم التطوع في بناء ثقافة جيل </p>
                <p class="font-size3" style="line-height: 30px">ان رحلة التغيير تبدأ بفرد، فمشاركتك في العمل التطوعي لو كان في ابسط اشكاله ربما يكون سبباً في الهام اقرب الاشخاص اليك مثل عائلتك واصدقائك لبدأ رحلتهم التطوعية الخاصة بهم وبنفس الشكل يمكن ان يكونوا سبباً في الهام من يعرفون وبدأ رحلة تطوعية
                    لغيرهم وهكذا الى ان يتم نقل فكرة التطوع من فرد الى اخر لتصبح ثقافة مجتمع وجيل كامل. </p>
            </div>
        </div>
    </div>
    <!-- /* ======== End Why Volunteer ======== */ -->

    <!-- /* ======== Start How Volunteer ======== */ -->
    <div id="col2" class="col pt-5 pb-5 mr-3 mt-2  Boxshadow Borders1 border-0 background2">
        <div class="row">
            <div class="col-sm-12 col-lg-4 mt-4">
                <img class="img-responsive mt-2 Boxshadow p-2 image-width1" src="{% static 'iraq/images/find.png' %}" alt="app">
            </div>
            <div class="col-sm-12 col-lg-8">
                <p class="mt-5 Color font-weight-bolder image-width1">هل يوجد مجال معين ينصح بالتطوع فيه ؟ </p>
                <p class="font-size3" style="line-height: 30px">يمكنك التطوع في أي مجال تريده ولكن من الأفضل أن تختار ما تستمتع به أكثر أو لديك خبرة فيه، تذكر أن التطوع هو مساعدة الآخرين لذلك من الأفضل مساعدتهم بشكل صحيح
                </p>
            </div>
        </div>
    </div>
    <!-- /* ======== End How Volunteer ======== */ -->
</div>
{% endblock %}
<!-- /* ======== End Details ======== */ -->