{% extends 'hod_template/base_template.html' %} {% load static %}


<!-- /* ======== Start Intities Page ======== */ -->
{% block main_content %}
<div class="row m-0 pt-2 background4" style="background-color:#F6FCFD">
    <div class="col-sm-12 col-lg-5 p-5">
        <img class="img-responsive image-width1" src="{% static 'iraq/images/volunteer.png' %}" alt="app">
    </div>
    <div class="col-sm-12 col-md-7" style="margin-top:100px">
        <div class="row">
            <div class="col-sm-12 col-lg-9">
                <form class="pb-5" action="{% url 'search_Intities_results' %}" method="get">
                    <input class="pr-3 Boxshadow bg-white Borders4 border-0 font-size3" style="height:45px;width:91%" name="q" stype="text" placeholder="ابحث المؤسسات حسب الاسم او المحافظة او التصنيف">
                    <button type="submit" style="height:45px;width:7.5%" class="pl-1 text-white border-0 text-center background1 Boxshadow Borders4"><i class="fa fa-search pr-1"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>

<div data-placement="top" title="عدد المؤسسات" class="text-white badge rounded-circle mt-2 mr-5 mb-3 Boxshadow bg-primary pt-3 button" style="width:45px;height:45px;border-radius:50%">
    {{ num_intity }}
</div>
<br>


<!--====== Start Cards ======-->
<!--Section: Cards-->
{% if intitys %}
<section class="text-center">
    <!--Grid row-->
    <div class="row wow fadeIn mr-1 ml-1" style="visibility: visible; animation-name: fadeIn;">
        {% for intity in intitys %}
        <div class="col-sm-12 col-md-6 col-lg-3 rounded-top button">
            <!--Card image-->
            <img class="card-img-top mt-4 Borders image-width1" style="height:150px;" src="/media/{{ intity.intities_pic }}" alt="intities image">
            <!--Card content-->
            <div class="card-body Boxshadow image-width1 Borders4">
                <!--Title-->
                <div class="col text-center mb-3 Color2 font-size1" data-placement="top" title="اسم المؤسسة">{{ intity.name }}</div>
                <div class="row font-weight-normal text-white">
                    <div class="col Boxshadow text-center pt-2 pb-2 background1 font-size Borders4" style="height:40px;">
                        <i class="fas fa-map-marked-alt ml-3" data-placement="top" title="المحافظة"></i> {{ intity.region }}
                    </div>
                    <div class="col Boxshadow text-center pt-2 pb-2 background1 font-size Borders4 mb-2" style="height:40px;margin-right:5px">
                        <i class="fas fa-book-reader ml-3" data-placement="top" title="التصنيف"></i> {{ intity.classification }}
                    </div>
                </div>
                <div class="Boxshadow text-center pt-2 pb-2 background1 text-white font-size Borders4" style="height:40px;">
                    <i class="fas fa-calendar-alt ml-3" data-placement="top" title="تاريخ التأسيس"></i> {{ intity.created}}
                </div>
                <div class="Boxshadow text-center mt-2 pt-2 pb-2 bg-primary text-white font-size Borders1" style="height:40px;">
                    <a class="text-decoration-none text-white" href="{% url 'more_read_intities' intity.id %}">قراءة المزيد</a>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
</section>
<!--    Section: Cards-->

<!--====== EndCards ======-->



<!--====== Start Not found ======-->
{% else %}
<div class="Boxshadow text-center background mt-4 Borders1 mb-3 mr-4 ml-3" style="height:440px">
    <div class="m-auto">
        <div class="mt-2 mb-2">
            <p class="card-title font-weight-bold pb-4 pt-4 text-center Color" style="font-size:25px"> لا توجد معلومات</p>
            <img class="mb-4 mx-auto d-block" src="{% static 'iraq/images/informationR.png' %} " style="height:320px;width:350px;background-position:center" alt="Not Found">
        </div>
    </div>
</div>
{% endif %}
<!--====== End Not found ======-->


{% include 'iraq/pagination.html' with page=intitys %} {% endblock %}
<!-- /* ======== End Intities Page ======== */ -->