{% extends 'hod_template/base_template.html' %} {% load static %}
<!-- /* ======== Start Poster Page ======== */ -->
{% block main_content %}
<div class="background2 pt-4 pb-5">
    <div class="row mr-3 ml-2 pb-3 Borders">
        <p class="col-md-2 pt-4 text-center text-primary font-weight-bolder pt-2 font-size1">إعلاناتي</p>
        <!--====Start Add Poster-->
        {% include 'hod_template/add_poster.html' %}
        <button data-toggle="modal" data-target="#add_poster" type="button" class="pr-5 pl-5 border-0 Borders1 Boxshadow text-center text-white font-size3 bg-primary mt-3 mr-md-5" style="height:41px;margin-right:30%">
        اضافة اعلان
        </button>
        <!--===End Add Poster===-->
    </div>
    <div class="form-group pr-5 pl-5 mt-3 mb-5">
        {% if messages %} {% for message in messages %} {% if message.tags == 'success' %}
        <div class="alert alert-success text-center Boxshadow border-0 Borders4">{{ message }}</div>
        {% elif message.tags == 'error' %}
        <div class="alert alert-danger text-center Boxshadow border-0 Borders4">{{ message }}</div>
        {% endif %} {% endfor %} {% endif %}
    </div>
    {% if adminhod and posters%} {% for poster in posters %}
    <div class="Boxshadow text-center pb-4 bg-white Borders2 mr-4 ml-3">
        <div class="row container mt-3 mb-5">
            <div class="col-sm-12 col-md text-center pt-4" data-placement="top" title="المكان">
                {{ poster.place }}
            </div>
            <!-- <div class="col-sm-12 col-md text-center pt-4" data-placement="top" title="عدد المتطوعين ">
                num volunteer
            </div> -->
            <div class="col-sm-12 col-md text-center pt-4" data-placement="top" title="يوم التطوع ">
                {{ poster.date_poster }}
            </div>
            <div class="col-sm-12 col-md text-center pt-4" data-placement="top" title="تاريخ التطوع ">
                {{ poster.time_poster }}
            </div>
            <div class="col-sm-12 col-md text-center">
                <a href="/update_poster/{{poster.id}}"><i class="mt-4 fas fa-user-edit text-primary"></i></a>
            </div>
            <div class="col-sm-12 col-md text-center pt-4">
                <a href="{% url 'delete_poster' poster.id %}"><i class="text-center fas fa-trash-alt text-primary" data-placement="top" title="حذف"></i></a>
            </div>
        </div>
        <div class="row ">
            <div class="col-sm-12 col-md-3">
                <img class="float-right mb-2 mr-2 ml-2 Borders" style="width:96%;height:90%" src="/media/{{ poster.poster_image }} " alt="Poster">
            </div>
            <div class="col-sm-12 col-md-9">
                <div class="row pt-4">
                    <div class="col-sm-12 col-md-4">
                        <a class="text-decoration-none text-center" href="{% url 'comments' %}">
                            <p class="text-primary font-weight-bold text-center" data-placement="top" title="اسم الؤسسة">{{ poster.name }} / {{poster.region}}/ {{poster.classification}}</p>
                        </a>
                    </div>
                    <div class="col-sm-12 col-md-4 text-center">
                        <small class="font-size3"><i class="text-danger font-size">نشر  منذ ...</i>{{ poster.created_at|timesince}}</small>
                    </div>
                </div>
                <p class="p-3 mb-5 float-right font-size3" style="line-height:30px">{{ poster.posts }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
    <!--  -->
    {% include 'iraq/pagination.html' with page=posters %}
    <!--  -->
    {% else %}
    <div class="Boxshadow text-center background Borders1 mb-3 mr-4 ml-3" style="height:440px">
        <div class="m-auto">
            <div class="mt-2 mb-2">
                <p class="card-title font-weight-bold pb-4 pt-4 text-center Color" style="font-size:25px"> لا توجد معلومات</p>
                <img class="mb-4 mx-auto d-block" src="{% static 'iraq/images/informationR.png' %} " style="height:320px;width:350px;background-position:center" alt="Not Found">
            </div>
        </div>
    </div>
    <!--  -->
    {% include 'iraq/pagination.html' with page=posters %}
    <!--  -->
    {% endif %}
</div>
{% endblock %}


<!-- /* ======== End Poster Page ======== */ -->