{% extends "iraq/base.html" %} {% load static %}

<!-- /* ======== Start About Page ======== */ -->
{% block content %}
<div id="container">
    <div class="row" style="margin:auto;">
        <!-- /* ======== Start Code for IRAQ ======== */ -->
        <div id="col" class="col Boxshadow border-0 background2 Borders1">
            <img class="c4i" style="margin-right:35%" src="{% static 'iraq/images/codeforiraq.png' %}" alt="app">
            <p class="Color text-center font-weight-bolder">
                مبادرة البرمجة من اجل العراق</p>
            <h5 class="text-primary text-center">"code for Iraq"</h5>
            <p class="Color1 text-center" style="text-indent:50px;line-height:30px">و هي مبادرة انسانية غير ربحية تعتمد على مبدأ المواطنة تهدف الى خدمة المجتمع باستخدام التكنولوجيا تعتبر مبادرة تعليمية حقيقية ترعى المهتمين بتعلم تصميم و برمجة تطبيقات الهاتف الجوال و مواقع الانترنت و برامج الحاسوب و الشبكات و الاتصالات ونظم
                تشغيل الحاسوب باستخدام التقنيات مفتوحة المصدر كما توفر لهم جميع الدروس التعليمية اللازمة و بشكل مجاني تماما و تهدف هذه المبادرة الى تحويل المجتمع من مجتمع سلبي مستهلك الى مجتمع ايجابي منتج يعتمد بالدرجة الاساس على استثمار العقول و الخبرات
                و المهارات بغض النظر عن العمر او التخصص بل الاهم من ذلك و المشاركة الفاعلة في تأسيس و بناء المجتمع تدعوا هذه المبادرة جميع الطلبة و الخريجين و الهواة و الاساتذة الجامعيين و المهتمين بمجال البرمجة و تقنيات المعلومات و كذلك الاختصاصات الاخرى
                الى التطوع و المشاركة الفعلية لاجل الارتقاء بواقع البلد كما تفتح المجال لجميع المواطنين العراقيين و من جميع الاختصاصات الى المشاركة الفاعلة في المشاريع لرفد الفريق بالخبرات و الافكار و الاراء و المقترحات التي من شأنها خدمة المجتمع بافضل
                ما يمكن.
            </p>
        </div>
        <!-- /* ======== End Code for IRAQ ======== */ -->

        <!-- /* ======== Start Team ======== */ -->
        <div id="col2" class="col-sm-12 col-lg-7 Boxshadow border-0 background2 Borders1 pt-5 mt-2 pb-5">
            <p style="border-radius:27px 27px 50px 0px" class="H2 text-white bg-primary mr-5 ml-5 pt-3 Boxshadow text-center font-weight-bolder borders border-0 button">فريق العمل</p>
            <div class="row">
                <div class="col-sm-12 col-md-4 mt-5 button">
                    <div class="W Boxshadow Borders3 p-2 pl-md-5 bg-primary">
                        <img class="rounded-circle A1" style="width:80px;height:80px" src="{% static 'iraq/images/muh.jpg' %}" alt="Muhammed">
                    </div>
                    <div class="card-body Borders2 Boxshadow bg-white W">
                        <p class="text-primary code pt-2 font-weight-bolder text-center mt-4">Muhammed Essa</p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 pt-5 button">
                    <div class="W Boxshadow Borders3 p-2 pl-md-5 bg-primary">
                        <img class="rounded-circle A1" style="width:80px;height:80px" src="{% static 'iraq/images/sh.jpg' %}" alt="Sherin">
                    </div>
                    <div class="card-body Borders2 Boxshadow bg-white W">
                        <p class="text-primary pt-2 font-weight-bolder text-center mt-4">👑Sherin Ali 👑</p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 pt-5 button">
                    <div class="W Boxshadow Borders3 p-2 pl-md-5 bg-primary">
                        <img class="rounded-circle A1" style="width:80px;height:80px" src="{% static 'iraq/images/ha.jpg' %}" alt="Hawraa">
                    </div>
                    <div class="card-body Borders2 Boxshadow bg-white W">
                        <p class="text-primary code pt-2 font-weight-bolder text-center mt-4">Hawra'a🦋 Arkan</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /* ======== End Team ======== */ -->
    </div>
</div>
{% endblock content %}
<!-- /* ======== End About Page ======== */ -->