{% load static %}
<!-- /* ======== Start Password reset Page ======== */ -->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> {% if title %}
    <title>تطوع / {{title}}</title>
    {% else %}
    <title>تطوع</title>
    {% endif%}
    <link rel="stylesheet" href="{% static 'iraq/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'iraq/css/main.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <style>
        @media (min-width: 600px) {
            .change {
                height: 100%;
            }
            .reset {
                height: 97%;
            }
        }
    </style>
</head>



{% block content %}
<div class="change row Boxshadow bg-primary Borders1 mt-5 mt-md-3 mb-3 mr-2 ml-2 pt-4 pb-4">
    <div class="col-sm-12 col-md-6">
        <img class="image-width1 Borders1 mt-2 reset" src="{% static 'iraq/images/password_reset.png' %}" alt="password_reset">
    </div>
    <div class="col-sm-12 col-md-6">
        <p class="font-weight-bolder mt-5 mr-5 text-white font-size1 text-center">تغيير كلمة المرور</p>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group mt-5 row">
                <label for="email" class="col-form-label font-weight-bold mt-2 mr-5 text-white font-size3">البريد الالكتروني</label>
                <input type="email" class="col-sm-4 col-md-9 fa pr-3 border-0 mr-5 mt-5 Color Borders1" placeholder="&#xf658;" style="height:55px;width:78%" name="email">
            </div>
            <button type="submit" class="col-sm-1 col-md-9 btn bg-warning font-weight-bolder  mt-5 text-white Borders1" style="width:81%;height:60px;margin-right:42.5px">ارسال البريد الالكتروني</button>
    </div>
    </form>

</div>
{% endblock content %}
<!-- /* ======== End Password reset Page ======== */ -->