{% load static %}
<!-- /* ======== Start Password reset sent Page ======== */ -->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> {% if title %}
    <title>تطوع / {{title}}</title>
    {% else %}
    <title>تطوع</title>
    {% endif%}
    <link rel="stylesheet" href="{% static 'iraq/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'iraq/css/main.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <style>
        @media (min-width: 600px) {
            .change {
                height: 100%;
            }
            .reset {
                height: 97%;
            }
        }
    </style>
</head>



{% block content %}
<div class="change row Boxshadow bg-primary Borders1 mt-5 mt-md-3 mb-3 mr-2 ml-2 pt-4 pb-4">
    <div class="col-sm-12 col-md-6">
        <img class="image-width1 Borders1 mt-2 reset" src="{% static 'iraq/images/password_reset.png' %}" alt="password_reset">
    </div>
    <div class="col-sm-12 col-md-6">
        <p class="font-weight-bolder text-center text-white font-size1" style="margin-top:150px">تم الارسال للبريد الالكتروني</p>
        <p class="font-weight-bolder mt-5 text-center text-white font-size3">تحقق من بريدك الالكتروني</p>
        <p class="pt-5 pr-5 text-center"><a class="text-decoration-none text-primary bg-white pt-2 pr-3 pb-2 pl-3 Borders" href="{% url 'doLogin' %}"><i class="fa fa-arrow-circle-right fa-lg"></i></a></p>
        {% endblock content %}
    </div>
</div>
<!-- /* ======== End Password reset sent Page ======== */ -->